https://github.com/kivymd/KivyMD/archive/master.zip
kivy
aiohttp==3.8.5
fastapi==0.95.0
requests==2.31.0
uvicorn==0.13.3
unidecode
six
python-multipart
inquirer
android
click
typing_extensions
starlette
pydantic
anyio
sniffio
exceptiongroup
python-multipart
six
certifi>=2018.4.16
pillow
sqlite3
requests==2.31.0
camera4kivy
gestures4kivy
charset-normalizer==3.0.1
idna==3.4
chardet
pytz
oscpy
aiosqlite
asynckivy
notifications-android-tv
httpx
httpcore
idna
anyio
sniffio
h11
exceptiongroup
